@{
    ViewBag.Title = "曹傑程";
}
@section CSS{
    <style>
    </style>
}
<div id="Profile" class="row">
    <div class="profile-bgheader col-md-12">
    </div>
    <div class="col-md-12 profileImgDiv">
        <img src="~/Images/Myprofile.jpg" alt="曹傑程" />
    </div>
    <div class="col-md-12">
        <h1><b>曹傑程 Jason Tsao</b><br /><small>全端開發者 / Full-stack Developer</small></h1>
    </div>
    <div class="social-links col-md-12">
        <a class="twitter" href="https://twitter.com/tsaocheng" target="_blank" rel="nofollow noopener noreferrer"><i class="fa fa-twitter"></i></a>
        <a class="linkedin"href="https://www.linkedin.com/in/tsaocheng/" target="_blank" rel="nofollow noopener noreferrer"><i class="fa fa-linkedin-square"></i></a> 
        <a class="facebook"href="https://www.facebook.com/tsaocheng" target="_blank" rel="nofollow noopener noreferrer"><i class="fa fa-facebook-square"></i></a> 
        <a class="instagram"href="https://www.instagram.com/tsaocheng/" target="_blank" rel="nofollow noopener noreferrer"><img src="https://www.instagram.com/static/images/ico/apple-touch-icon-76x76-precomposed.png/4272e394f5ad.png"/></a> 
    </div>
    <div class="col-md-12 text-center profile-detail">
        <i class="fa fa-child">&nbsp;</i>@(DateTime.Now.Year - 1992) 歲，處女座<br />
        <i class="fa fa-map-marker"></i>&nbsp;Taipei，Taiwan<br />
        <i class="fa fa-envelope"></i>&nbsp;<a href="mailto:minipig831@gmail.com" target="_blank">minipig831@gmail.com</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">

    </div>
</div>